
.subscribe {
	padding-top: 100px;
	padding-bottom: 40px;
	text-align: center;
	-webkit-transition: padding .25s ease-in-out;
	-moz-transition: padding .25s ease-in-out;
	-o-transition: padding .25s ease-in-out;
	transition: padding .25s ease-in-out;
}

.subscribe .container {
	max-width: 734px;
	margin: 0 auto;
	width: 83.333333%;
	position: relative;
	z-index: 1;
}

.subscribe h1, .subscribe .h1 {
	font-weight: 600;
	letter-spacing: -1.78px;
	text-align: center;
	color: #424242;
	margin-top: 10px;
	margin-bottom: 20px;
}

.subscribe .hero {
	font-weight: 200;
	text-align: center;
	color: #6c6c6c;
	margin-bottom: 32px;
}

.subscribe h2 {
	margin-bottom: 32px;
}

.subscribe h3 {
	margin-bottom: 32px;
}

.subscribe input {
	padding: 20px;
	padding: 15px 28px;
	font-size: 24px;
	border-radius: 30px;
	border: 1px solid rgba(129, 129, 129, .7);
	outline: none;
	text-align: left;
	width: 340px;
	color: #6c6c6c;
	background: transparent;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: border-color .35s, background .35s;
	-moz-transition: border-color .35s, background .35s;
	-o-transition: border-color .35s, background .35s;
	transition: border-color .35s, background .35s;
}

.subscribe.error input {
	color: #d47070;
	border-color: #d47070;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation: bounceIn .5s 1s;
	animation: bounceIn .5s 1s;
}

.subscribe.loading .button {
	-webkit-animation: loading-subcscribe .75s infinite;
	animation: loading-subcscribe .75s infinite;
}

@-webkit-keyframes loading-subcscribe {
	50% {
		color: rgba(255, 255, 255, .25);
	}
}

@keyframes loading-subcscribe {
	50% {
		color: rgba(255, 255, 255, .25);
	}
}

.subscribe.done {
	cursor: default !important;
	pointer-events: none !important;
}

.subscribe.done .button {
	background: #51af7e !important;
	border-color: #51af7e !important;
}

.subscribe.done .button .text-default {
	display: none;
}

.subscribe.done .button .text-done {
	display: inline;
}

.subscribe:not(.error) input:focus {
	border: 1px solid #11a1ec;
	background: #fff;
}

.subscribe input::-webkit-input-placeholder {
	color: rgba(129, 129, 129, .7);
	-webkit-transition: opacity .35s;
	transition: opacity .35s;
}

.subscribe input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.subscribe input:-moz-placeholder {
	color: rgba(129, 129, 129, .7);
	-moz-transition: opacity .35s;
}

.subscribe input:focus:-moz-placeholder {
	opacity: 0;
}

.subscribe input::-moz-placeholder {
	color: rgba(129, 129, 129, .7);
	-moz-transition: opacity .35s;
}

.subscribe input:focus::-moz-placeholder {
	opacity: 0;
}

.subscribe input:-ms-input-placeholder {
	color: rgba(129, 129, 129, .7);
}

.subscribe input:focus:-ms-input-placeholder {
	opacity: 0;
}

.subscribe .button {
	padding: 15px 40px;
	border-radius: 30px;
	outline: none;
	margin: 0 10px;
	font-weight: 200;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.subscribe .button .text-done {
	display: none;
}

.subscribe .button::-moz-focus-inner {
	padding: 0;
	border: none;
	margin: 0;
}

.subscribe .button:hover {
	opacity: .9;
}

.subscribe .MC_input {
	width: 20%;
}

@media screen and (max-width: 768px) {
	.subscribe input {
		width: 90%;
		margin-bottom: 16px;
		font-size: 18px;
	}
	
	.subscribe .MC_input {
		width: 90%;
	}
	
	.subscribe .button {
		font-size: 21px;
	}
}

@media screen and (max-width: 568px) {
	.subscribe h1 {
		margin-top: 35px;
		margin-bottom: 10px;
	}
	
	.subscribe h1 {
		margin-top: 24px;
		margin-bottom: 8px;
	}
	
	.subscribe h1 {
		margin-top: 20px;
		margin-bottom: 6px;
	}
	
	.subscribe p {
		margin-top: 18px;
	}
	
	.subscribe .hero {
		margin-top: 22px;
	}
}

.subscribe.top-padding-0 {
	padding-top: 0;
}

.subscribe.top-padding-1 {
	padding-top: 10px;
}

.subscribe.top-padding-2 {
	padding-top: 20px;
}

.subscribe.top-padding-3 {
	padding-top: 30px;
}

.subscribe.top-padding-4 {
	padding-top: 40px;
}

.subscribe.top-padding-5 {
	padding-top: 50px;
}

.subscribe.top-padding-6 {
	padding-top: 60px;
}

.subscribe.top-padding-7 {
	padding-top: 70px;
}

.subscribe.top-padding-8 {
	padding-top: 80px;
}

.subscribe.top-padding-9 {
	padding-top: 90px;
}

.subscribe.top-padding-10 {
	padding-top: 100px;
}

.subscribe.top-padding-11 {
	padding-top: 110px;
}

.subscribe.top-padding-12 {
	padding-top: 120px;
}

.subscribe.bottom-padding-0 {
	padding-bottom: 0;
}

.subscribe.bottom-padding-1 {
	padding-bottom: 10px;
}

.subscribe.bottom-padding-2 {
	padding-bottom: 20px;
}

.subscribe.bottom-padding-3 {
	padding-bottom: 30px;
}

.subscribe.bottom-padding-4 {
	padding-bottom: 40px;
}

.subscribe.bottom-padding-5 {
	padding-bottom: 50px;
}

.subscribe.bottom-padding-6 {
	padding-bottom: 60px;
}

.subscribe.bottom-padding-7 {
	padding-bottom: 70px;
}

.subscribe.bottom-padding-8 {
	padding-bottom: 80px;
}

.subscribe.bottom-padding-9 {
	padding-bottom: 90px;
}

.subscribe.bottom-padding-10 {
	padding-bottom: 100px;
}

.subscribe.bottom-padding-11 {
	padding-bottom: 110px;
}

.subscribe.bottom-padding-12 {
	padding-bottom: 120px;
}

@media screen and (max-width: 568px) {
	.subscribe.top-padding-0 {
		padding-top: 0;
	}
	
	.subscribe.top-padding-1 {
		padding-top: 9px;
	}
	
	.subscribe.top-padding-2 {
		padding-top: 18px;
	}
	
	.subscribe.top-padding-3 {
		padding-top: 27px;
	}
	
	.subscribe.top-padding-4 {
		padding-top: 36px;
	}
	
	.subscribe.top-padding-5 {
		padding-top: 45px;
	}
	
	.subscribe.top-padding-6 {
		padding-top: 54px;
	}
	
	.subscribe.top-padding-7 {
		padding-top: 63px;
	}
	
	.subscribe.top-padding-8 {
		padding-top: 72px;
	}
	
	.subscribe.top-padding-9 {
		padding-top: 81px;
	}
	
	.subscribe.top-padding-10 {
		padding-top: 90px;
	}
	
	.subscribe.top-padding-11 {
		padding-top: 99px;
	}
	
	.subscribe.top-padding-12 {
		padding-top: 108px;
	}
	
	.subscribe.bottom-padding-0 {
		padding-bottom: 0;
	}
	
	.subscribe.bottom-padding-1 {
		padding-bottom: 9px;
	}
	
	.subscribe.bottom-padding-2 {
		padding-bottom: 18px;
	}
	
	.subscribe.bottom-padding-3 {
		padding-bottom: 27px;
	}
	
	.subscribe.bottom-padding-4 {
		padding-bottom: 36px;
	}
	
	.subscribe.bottom-padding-5 {
		padding-bottom: 45px;
	}
	
	.subscribe.bottom-padding-6 {
		padding-bottom: 54px;
	}
	
	.subscribe.bottom-padding-7 {
		padding-bottom: 63px;
	}
	
	.subscribe.bottom-padding-8 {
		padding-bottom: 72px;
	}
	
	.subscribe.bottom-padding-9 {
		padding-bottom: 81px;
	}
	
	.subscribe.bottom-padding-10 {
		padding-bottom: 90px;
	}
	
	.subscribe.bottom-padding-11 {
		padding-bottom: 99px;
	}
	
	.subscribe.bottom-padding-12 {
		padding-bottom: 108px;
	}
}

.subscribe .button.font-size-1, .subscribe .button.font-size-1 {
	font-size: 17px;
}

.subscribe .button.font-size-2, .subscribe .button.font-size-2 {
	font-size: 18px;
}

.subscribe .button.font-size-3, .subscribe .button.font-size-3 {
	font-size: 19px;
}

.subscribe .button.font-size-4, .subscribe .button.font-size-4 {
	font-size: 20px;
}

.subscribe .button.font-size-5, .subscribe .button.font-size-5 {
	font-size: 21px;
}

.subscribe .button.font-size-6, .subscribe .button.font-size-6 {
	font-size: 22px;
}

.subscribe .button.font-size-7, .subscribe .button.font-size-7 {
	font-size: 23px;
}

.subscribe .button.font-size-8, .subscribe .button.font-size-8 {
	font-size: 24px;
}

.subscribe .button.font-size-9, .subscribe .button.font-size-9 {
	font-size: 26px;
}

.subscribe .button.line-height-1, .subscribe .button.line-height-1 {
	line-height: 1.65;
}

.subscribe .button .line-height-1, .subscribe .button.line-height-1 {
	line-height: 1.1;
}

.subscribe .button .line-height-2, .subscribe .button.line-height-2 {
	line-height: 1.2;
}

.subscribe .button .line-height-3, .subscribe .button.line-height-3 {
	line-height: 1.3;
}

.subscribe .button .line-height-4, .subscribe .button.line-height-4 {
	line-height: 1.4;
}

.subscribe .button .line-height-5, .subscribe .button.line-height-5 {
	line-height: 1.5;
}

.subscribe .button .line-height-6, .subscribe .button.line-height-6 {
	line-height: 1.6;
}

.subscribe .button .line-height-7, .subscribe .button.line-height-7 {
	line-height: 1.7;
}

.subscribe a {
	color: rgb(55, 55, 55);
}
