<div class="dm-widget-main align-center" data-html2canvas-ignore ng-class="{'hide-opacity-widget': !data.media.bg_image.src.base || data.media.bg_image.src.base == 'img/1x1.png'}">
    <div class="dm-widget">
        <div class="dm-widget-item" dm-widget-drop-down>
            <div dm-upload-media>
                <div dm-upload-drop-down-image>
                    <div dm-wp-media-library
                         dm-media-show="data.media.show"
                         dm-selected-image="data.media.bg_image.src.base">
                    </div>
                </div>
                <div dm-upload-drop-down-video>
                    <div
                        dm-upload-video="data.media.video.id"
                        dm-upload-video-quality="data.media.video.quality"
                        dm-upload-video-first-frame="data.media.video.firstFrame"
                        dm-upload-video-first-frame-image-width="{'base': '2400'}"
                        dm-upload-video-start-at="data.media.video.startAt"
                        dm-upload-video-stop-at="data.media.video.stopAt"
                        dm-media-show="data.media.show">
                    </div>
                </div>
            </div>
        </div>
        <div class="dm-widget-item dm-cover-layout" dm-widget-drop-down>
            <div dm-cover-position="data.position" dm-cover-layout="data.layout" dm-cover-layout-title="data.title.content[0].style.color" dm-cover-layout-text="data.text.content[0].style.color" dm-cover-layout-bg="data.bg_color"></div>
        </div>
        <div class="dm-widget-item dm-bg-options" dm-widget-drop-down>
            <div dm-bg-options="['opacity', 'color']" dm-bg-options-color="data.block_bg.color" dm-bg-options-opacity="data.block_bg.opacity" dm-bg-options-type="data.block_bg.type"></div>
        </div>
        <div class="dm-widget-item" dm-widget-drop-down>
            <div dm-tools='["move", "duplicate", "customCSS", "anchor", "remove"]' anchor-value="data.anchor"></div>
        </div>
    </div>
</div>