<div class="dm-widget-main align-center top" data-html2canvas-ignore>
    <div class="dm-widget has-arrow bottom">
        <div dm-upload-drop-down-image>
            <div dm-wp-media-library
                 dm-media-show=""
                 dm-selected-image="data.brand.src.base">
            </div>
        </div>
        <div class="dm-widget-item" dm-widget-drop-down='replace'>
            <div dm-image-link="data.brand.url"></div>
        </div>
    </div>
</div>